/* font  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Luxurious+Roman&family=Montserrat&family=Poppins&family=Roboto+Mono:ital,wght@1,300&family=Roboto+Slab:wght@200;300&display=swap');

/* common styles or utilitis*/
body{
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
   
}

/* Header and navbar */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-link{   
    width: 880px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
}    
.header-button{
    margin-top: 24px;
    margin-left: 70px;
    color: black;
    font-size: 16px;
}

nav a{
    text-decoration: none;
    padding: 6px;
    
}
 
/* ------------------main section ------------ */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-title{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   width: 880px;
 
}
.product-detail h1{
    font-size: 45px;
}
.product-image img{
    width: 300px;
    
}
.product-image img:hover{
    transform: scale(1.1) rotate(20deg);
    transition: transform 2s ease-in-out;
}
.product-image{
    margin-left: 70px;
    background-image: url(images/Circle\ design.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
.click{
    background-color: rgb(220, 13, 82);
    font-size: 16px;
    color: wheat;
    border-radius: 10px;
    
}
.click:hover{
    background-color: rgb(50, 35, 33);
    transform: scale(1.1);
    transition: transform 1s ease-in;
    overflow: hidden;
}
.web-markert{
    border: 0px 1px 0px 1px solid wheat;
}
.market-image{
    width: 60px;
    margin: 30px;
    margin-top: 60px;
}
/* <!-- ----------------Popular Collection block------------------- --> */

.Popular-Collection {
    justify-content: center;
    align-items: center;
    flex-direction: column;
     display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap:29px;
    width: auto;
    height: auto;
}
.popular-heding{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    
}
.callections{
   width:200px;
    background-color: rgb(149 88 88 / 11%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 1px 8px 0px rgb(94 70 70);}
.image-item img{
    width:200px;
  
}
div h2{
    margin-top: 7px;
}
#taka{
    font-weight: 100;
}
.rating{
    margin-top: -16px;
}
.fas{
    width:8px;
    padding: 3px;
}
.fa-star.fillde {
    color: rgb(198, 198, 15);
}
.fa-star.eamty{
    color: darkgray;
}
#number{
    margin-left: 10px;
}
.down{
    background-color: orangered;
    margin: 46px;
    margin-left: 669px;
    border-radius: 20px;
    
}
 /* '---------------------Extra block ------------------------- */
 

 
 .extras {display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 880px;
    align-items: center;
 }
 .extra{
   padding-right: 52px;}
 .extra-title{
     display: flex;
flex-direction:column;
margin-bottom: 21px;

 }
 .extra-mini-number{
     color: grey;
     font-size: 15px;
 }
 .extra-mine-image img{
     width: 40px;
     height: 40px;
     border-radius: 40px;
 }
 .extra-image img{
     width: 350px;
     height: 400px;
 }
 .extra-main-heding {
     /* width:600px; */
    
   
}
.h3-block{
    font-size: 25px;
    color: rgb(220, 13, 82);
}
.detiles-block{
    padding: 20px;
    font-size: 20px;
}
.mini-grid-all{
    display:flex;
    flex-direction:row;
    column-gap:20px;
    flex-wrap: wrap;
  
   
}
 .mini-grid{
    font-size: 18px;
    margin-top: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    
 }
 .grid-leter{
     font-size:35px;
     font-weight: 700;
     color: rgb(220, 13, 82);
 }

/*------------------ This is footer -------------- */

footer{
    background-color: rgb(5, 3, 81);
}
.last-footer{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;
}
.last-footer a{
    color: white;
    margin: 8px;
}

/* -----------media quarie------------ */

@media only screen and (
    max-width:688px
) { .container{
    width: 100%;
}
    .nav-link, .product-title, .Popular-Collection, .extras {

        background-color: salmon;
        grid-template-columns: repeat(1,1fr);
    }
    .nav-link, .product-title{
        width: auto;
    }
    
    .nav-link,.product-title, .Popular-Collection, .extras {
        flex-direction: column;
    }

    .web-markert {
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .extras {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        align-items: center;
    }
      
}